p {
  display: block;
  margin-bottom: 1em; 
}

.no-margin {
  margin: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.no-padding {
  padding: 0;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-top-60 {
  padding-top: 60px;
}

.padding-top-80 {
  padding-top: 80px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-bottom-60 {
  padding-bottom: 60px;
}

.padding-bottom-80 {
  padding-bottom: 80px;
}

.inline {
  display: inline-block;
}

.bat-btn {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 4px 8px;
    border-radius: 2px;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
}

.bat-success {
  background-color: #4CAF50;
  color: white;
}

.bat-warning {
  background-color: #fdff00;
  color: black;
}

.bat-danger {
  background-color: #f44336;
  color: white;
}

.bat-info {
  background-color: #2196F3;
  color: white;
}

.col-xs-0_5, .col-sm-0_5, .col-md-0_5, .col-lg-0_5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-0_5 {
  float: left;
}

.col-xs-0_5 {
  width: 4.16666666%;
}

.col-xs-pull-0_5 {
  right: 4.16666666%;
}

.col-xs-push-0_5 {
  left: 4.16666666%;
}

.col-xs-offset-0_5 {
  margin-left: 4.16666666%;
}

@media (min-width: 768px) {
  .col-sm-0_5 {
    float: left;
  }

  .col-sm-0_5 {
    width: 4.16666666%;
  }

  .col-sm-pull-0_5 {
    right: 4.16666666%;
  }

  .col-sm-push-0_5 {
    left: 4.16666666%;
  }

  .col-sm-offset-0_5 {
    margin-left: 4.16666666%;
  }
}

@media (min-width: 992px) {
  .col-md-0_5 {
    float: left;
  }

  .col-md-0_5 {
    width: 4.16666666%;
  }

  .col-md-pull-0_5 {
    right: 4.16666666%;
  }

  .col-md-push-0_5 {
    left: 4.16666666%;
  }

  .col-md-offset-0_5 {
    margin-left: 4.16666666%;
  }
}

@media (min-width: 1200px) {
  .col-lg-0_5 {
    float: left;
  }

  .col-lg-0_5 {
    width: 4.16666666%;
  }

  .col-lg-pull-0_5 {
    right: 4.16666666%;
  }

  .col-lg-push-0_5 {
    left: 4.16666666%;
  }

  .col-lg-offset-0_5 {
    margin-left: 4.16666666%;
  }
}